atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store

git/gitconfig.symlink
*.log
/Alfred/Alfred.alfredpreferences/workflows/user.workflow.private-*

config.symlink/yarn
config.symlink/configstore/update-notifier-npm.json