*.cache
*.elc
*.sqlite

.cask
.lsp-*
.org-id-locations

bookmarks
eln-cache
elpa
emojis
eshell
ido.last
magithub/cache
projectile-bookmarks.eld
projects
recentf
smex-items
straight
!straight/versions
tramp
transient
url
var/prescient-save.el
