*.cache
*.elc
*.sqlite

.cask
.lsp-*
.org-id-locations

bookmarks
eln-cache
elpa
emojis
eshell
ido.last
history
magithub/cache
org-persist
projectile-bookmarks.eld
projects
recentf
smex-items
straight
!straight/versions
tramp
tree-sitter
transient
url
var/prescient-save.el
