<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danielma.alfred-jump</string>
	<key>connections</key>
	<dict>
		<key>101EBA23-F12A-4495-B2DA-BE1B9BB8609F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8957688-0A82-42CA-8142-025D60BE55CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BE07F78-9114-441E-A99D-4767EB0CBE06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37396BD7-2B61-4B6A-B35D-4EFD5176AED0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CCE6C73-9A70-4E75-B87C-FA3B473369C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>101EBA23-F12A-4495-B2DA-BE1B9BB8609F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62372582-B7ED-4BBA-8ED1-13075025AB1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED128F06-ADD4-4921-BD60-76848682D7EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89286112-22CE-41D4-8833-48B18805AF5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BE07F78-9114-441E-A99D-4767EB0CBE06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>993F8834-B420-4131-8FE4-564F69F3313D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DA06E47-CE90-4AF9-8659-54D794D26921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FA3E6786-C13C-4274-9311-C3C68CF720FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>62372582-B7ED-4BBA-8ED1-13075025AB1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED128F06-ADD4-4921-BD60-76848682D7EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CCE6C73-9A70-4E75-B87C-FA3B473369C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA3E6786-C13C-4274-9311-C3C68CF720FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA6571AB-7884-4CDD-8456-03E99F2634BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Ma</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jump</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:delete}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5DA06E47-CE90-4AF9-8659-54D794D26921</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AA6571AB-7884-4CDD-8456-03E99F2634BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># ./alfred-jump {query}

swift /Users/danielma/Code/danielma/alfred-jump/alfred-jump/main.swift {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>/Users/danielma/Code/danielma/alfred-jump/alfred-jump/</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>993F8834-B420-4131-8FE4-564F69F3313D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:real}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FA3E6786-C13C-4274-9311-C3C68CF720FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># ./alfred-jump {query}

swift /Users/danielma/Code/danielma/alfred-jump/alfred-jump/main.swift --new "$url" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>101EBA23-F12A-4495-B2DA-BE1B9BB8609F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>title for this jump location</string>
				<key>text</key>
				<string>{var:url}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CCE6C73-9A70-4E75-B87C-FA3B473369C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B8957688-0A82-42CA-8142-025D60BE55CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ED128F06-ADD4-4921-BD60-76848682D7EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:new}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>62372582-B7ED-4BBA-8ED1-13075025AB1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>89286112-22CE-41D4-8833-48B18805AF5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>37396BD7-2B61-4B6A-B35D-4EFD5176AED0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Slack: chan","arg":"slack:\/\/user?team=T024L9M0Y&amp;id=U024LU6BE","subtitle":"@chan"},{"title":"Github: Giving","arg":"https:\/\/github.com\/ministrycentered\/giving"},{"title":"Github: Groups","arg":"https:\/\/github.com\/ministrycentered\/groups"},{"title":"Slack: grouving","arg":"slack:\/\/channel?team=T024L9M0Y&amp;id=C0SMGAG1Y","subtitle":"@grouving"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Bookmarks</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>2BE07F78-9114-441E-A99D-4767EB0CBE06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred's Script Filter object is extremely powerful, and gives you control over the results displayed in Alfred.

Alfred 3 now supports JSON, which is the recommended format. XML is also supported for legacy Alfred 2 workflows, and has been updated to include the new features.

A new option now exists for Script Filters, "Alfred filters results". This allows you to return a whole list of results, let Alfred do the subsequent filtering with extreme performance. When this option is selected, your script will be called once with no argument.</string>
	<key>uidata</key>
	<dict>
		<key>101EBA23-F12A-4495-B2DA-BE1B9BB8609F</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>2BE07F78-9114-441E-A99D-4767EB0CBE06</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>2CCE6C73-9A70-4E75-B87C-FA3B473369C1</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>37396BD7-2B61-4B6A-B35D-4EFD5176AED0</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>5DA06E47-CE90-4AF9-8659-54D794D26921</key>
		<dict>
			<key>note</key>
			<string>var:delete</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>62372582-B7ED-4BBA-8ED1-13075025AB1D</key>
		<dict>
			<key>note</key>
			<string>if var:new</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>89286112-22CE-41D4-8833-48B18805AF5C</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>993F8834-B420-4131-8FE4-564F69F3313D</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>AA6571AB-7884-4CDD-8456-03E99F2634BB</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>B8957688-0A82-42CA-8142-025D60BE55CA</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>ED128F06-ADD4-4921-BD60-76848682D7EA</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>FA3E6786-C13C-4274-9311-C3C68CF720FB</key>
		<dict>
			<key>note</key>
			<string>if var:real</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/danielma/alfred-jump</string>
</dict>
</plist>
