<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ma.danielma.markdown</string>
	<key>connections</key>
	<dict>
		<key>3D5088C9-BF74-44A8-9FDA-D326B5FAF71B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACF5B43A-EE23-422E-9028-6147567521B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B2AD55F-0BA8-4999-989C-5547D66C00AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82214F04-9DBA-4660-845B-ACD9A1CBF776</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACF5B43A-EE23-422E-9028-6147567521B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95E9BF76-BB3A-4E52-839E-8340AA2A3C11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7F9A611-E9B7-4161-97E5-29D1D2C9E61A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B2AD55F-0BA8-4999-989C-5547D66C00AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Ma</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Markdown</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>82214F04-9DBA-4660-845B-ACD9A1CBF776</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>curl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>F7F9A611-E9B7-4161-97E5-29D1D2C9E61A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Google Chrome"		get URL of active tab of first window	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9B2AD55F-0BA8-4999-989C-5547D66C00AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>[{cursor}]({query})</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>95E9BF76-BB3A-4E52-839E-8340AA2A3C11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>ccurl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>3D5088C9-BF74-44A8-9FDA-D326B5FAF71B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Google Chrome"		get URL of active tab of first window	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>ACF5B43A-EE23-422E-9028-6147567521B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3D5088C9-BF74-44A8-9FDA-D326B5FAF71B</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>82214F04-9DBA-4660-845B-ACD9A1CBF776</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>95E9BF76-BB3A-4E52-839E-8340AA2A3C11</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>9B2AD55F-0BA8-4999-989C-5547D66C00AD</key>
		<dict>
			<key>note</key>
			<string>Get Chrome's URL</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>ACF5B43A-EE23-422E-9028-6147567521B8</key>
		<dict>
			<key>note</key>
			<string>Get Chrome's URL</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>F7F9A611-E9B7-4161-97E5-29D1D2C9E61A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
