"*":
  "atom-typescript": {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "react"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "SFMono-Regular"
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter:
    showErrorPanel: false
  "linter-eslint": {}
  "linter-rubocop":
    command: "/Users/danielma/.rbenv/shims/rubocop"
  "markdown-writer": {}
  pigments: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "vim-mode": {}
  welcome:
    showOnStartup: false
