"*":
  "atom-package-deps":
    ignored: []
  "atom-typescript": {}
  core:
    disabledPackages: [
      "background-tips"
      "metrics"
      "react"
      "language-gfm"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    titleBar: "custom-inset"
  drupal:
    fileTypesPhp: "module,install,inc,test,profile"
  editor:
    fontFamily: "Iosevka Nerd Font"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "f2642466-7a35-4e28-9964-5d95118857f7"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-rubocop":
    command: "/Users/danielma/.rbenv/shims/rubocop"
  "linter-ui-default": {}
  "markdown-writer": {}
  pigments: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "split-diff":
    ignoreWhitespace: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
