<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>566033AC-AC80-425B-9B41-35204B6845BA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gn</string>
			<key>text</key>
			<string>Github Notifications</string>
			<key>url</key>
			<string>https://github.com/notifications</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6F6B06CF-A2AD-48C1-A88C-3296801BAC4D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghm</string>
			<key>text</key>
			<string>Github Repo (MCT)</string>
			<key>url</key>
			<string>https://github.com/ministrycentered/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9D8D9B7F-8CE5-43F8-8E71-5BB160252B9E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghmp</string>
			<key>text</key>
			<string>MCT Github Pulls for {query}</string>
			<key>url</key>
			<string>https://github.com/ministrycentered/{query}/pulls</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
