<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>9D8D9B7F-8CE5-43F8-8E71-5BB160252B9E</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>ghmp</string>
			<key>text</key>
			<string>MCT Github Pulls for {query}</string>
			<key>url</key>
			<string>https://github.com/ministrycentered/{query}/pulls</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
